![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Evolution of esports industry 1998-2023"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Se analiza la evolución de la industria de los esports a través de los datos de los torneos organizados y los premios repartidos"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "¿Sigue el sector de los esports en augue o se ha estabilizado?"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "¿Ha habido un cambio en los géneros de los videojuegos más populares?"
# hipotesis_3 = ""
# hipotesis_4 = ""
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.DataFrame()
fuente_1 = ""
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
# Primer dataset
df_esports_general = pd.read_csv('data\GeneralEsportData.csv')
df_esports_general.head()

,Game,ReleaseDate,Genre,TotalEarnings,OfflineEarnings,PercentOffline,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,510716.46,375857.63,0.735942,473,265
1,Age of Empires II,1999,Strategy,3253232.59,1139384.57,0.350232,1994,1613
2,Age of Empires III,2005,Strategy,115843.65,41800.00,0.360831,166,163
3,Age of Empires IV,2021,Strategy,994675.03,409117.93,0.411308,542,327
4,Age of Empires Online,2011,Strategy,9806.56,775.00,0.079029,44,50

In [3]:
# Siguiente dataset...
df_esports_hist = pd.read_csv('data\HistoricalEsportData.csv')
df_esports_hist.head()

         Date                          Game  Earnings  Players  Tournaments
0  1998-01-01  Command & Conquer: Red Alert   15000.0        8            1
1  1998-01-01                    QuakeWorld   15000.0        8            1
2  1998-05-01                      Quake II   15000.0        4            1
3  1998-05-01            Total Annihilation   15000.0        2            1
4  1998-05-01                    QuakeWorld     300.0        3            1